<!-- Modal -->

<div class="modal" tabindex="-1" id="item-modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table " id="supplier-tb">
                    <thead>
                        <tr>
                            <th>
                                Item code
                            </th>
                            <th>
                                Quantity
                            </th>
                            <th>
                                Supplier ref no.
                            </th>
                            <th>
                                Ref date
                            </th>
                            <th>
                                Note
                            </th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>
                                <input type="text" class="form-control" id="item-code" />
                            </td>
                            <td>
                                <input type="number" class="form-control" step="0.001" id="item-qty" />
                            </td>
                            <td>
                                <input type="text" class="form-control" id="item-ref" />
                            </td>
                            <td>
                                <input type="date" class="form-control" id="item-ref-date" />
                            </td>
                            <td>
                                <input type="text" class="form-control" id="item-note" />
                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="submit-item">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>
    var routeURL = location.protocol + "//" + location.host;
    $(document).ready(function () {
        $('.nav-list').addClass('active');
        $('#new-list').click(function () {
            $('#item-modal').modal('toggle');
        });
        $('#datatable-search').DataTable();

        $('#close-case').click(function () {
            var icId = parseInt(@Html.Raw(Model.Icm.IcId));
            var pt = {
                IcId: icId
            };

            Swal.fire({
                title: 'Do you want to save the changes?',
                showDenyButton: true,
                showCancelButton: true,
                confirmButtonText: 'Save',
                denyButtonText: `Don't save`,
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    $.ajax(
                        {
                            url: routeURL + "/api/IncomingList/CloseList",
                            data: JSON.stringify(pt),
                            contentType: 'application/json',
                            type: "POST",
                            success: function (common) {

                                if (common.status == 1) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: 'Your work has been saved',
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 1000);

                                } else {
                                    Swal.fire(common.message, '', 'error');
                                }
                            },
                            error: function () {
                                Swal.fire('Connection unavailable!', '', 'error');
                            }

                        }
                    );
                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })


        });

        $('#submit-item').click(function () {
            var itemCode = $('#item-code').val().trim();
            var qty = parseFloat($('#item-qty').val());
            var itemRef = $('#item-ref').val();
            var refDate = $('#item-ref-date').val();
            var itemNote = $('#item-note').val();
            var icId = parseInt(@Html.Raw(Model.Icm.IcId));

            if (itemCode == "") {
                $('#item-code').notify("Please enter item code");
            } else if (qty <= 0 || isNaN(qty)) {
                $('#item-qty').notify("Please enter a valid quantity");
            } else {

                if (!Date.parse(refDate)) {
                    refDate = NaN;
                }
                var pt = {
                    ItemNo : itemCode,
                    RecQty : qty,
                    RefNo : itemRef,
                    RefDate : refDate,
                    IcId: icId,
                    PtCmt: itemNote

                }

                var qty = $('#item-qty').val(0);
                Swal.fire({
                    title: 'Is all the information correct?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    denyButtonText: `No`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax(
                            {
                                url: routeURL + "/api/IncomingList/AddItem",
                                data: JSON.stringify(pt),
                                contentType: 'application/json',
                                type: "POST",
                                success: function (common) {

                                    if (common.status == 1) {
                                        Swal.fire({
                                            position: 'center',
                                            icon: 'success',
                                            title: 'Item added',
                                            showConfirmButton: false,
                                            timer: 2000
                                        });
                                        setTimeout(
                                            function () {

                                                window.location.href = window.location.href;
                                            }, 1000);
                                    } else {
                                        $('#item-code').notify(common.message);
                                    }
                                }

                            }
                        );
                    }
                });

               }

        });
    });
</script>