@model IEnumerable<NMVS.Models.ViewModels.CustomerVm>

@{
    ViewData["Title"] = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-flush" id="datatable-search">
                        <thead class="thead-light">
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Short Name</th>
                                <th>Tax code</th>
                                <th>Address</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Active</th>
                                <th>Note</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer">

                <div class="row col-12">
                    <span class="col-auto">
                        <a asp-action="NewCustomer" class="btn btn-sm btn-outline-info">
                            New Customer
                        </a>
                    </span>

                    <span class="col-auto">
                        <button class="btn btn-sm btn-outline-info" id="new-cust">
                            <span class="fa fa-cloud-upload"></span>
                            <span>Upload</span>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="FileUploadModal" />
<script src="~/assets/datatable/datatables.min.js"></script>
<partial name="_ClipboardSave" />
<script type="text/javascript">

    $(document).ready(function () {
        $('.nav-cust').addClass('active');
        $('#new-cust').click(function () {
            $('#file-modal').modal('toggle');
        });

        $.ajax({
            'url': apiUrl + "/api/customers/GetCustomer",
            'method': "GET",
            'contentType': 'application/json'
        }).done(function (data) {
            $('#datatable-search').dataTable({
                "aaData": data,
                "columns": [
                    {
                        data: "custCode",
                        render: function (data, type, customer) {
                            return '<button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1"'
                                + 'data-bs-toggle="dropdown" aria-expanded="false">'
                                + customer.custCode
                                + '</button>'
                                + '<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">'
                                + '<li>'
                                + '<a href="/Customers/UpdateCustomer?code=' + customer.custCode + '" class="dropdown-item">'
                                + '<span class="fa fa-pen"> Edit</span></a>'
                                + '</li>'
                                + '<li>'
                                + '<div class="dropdown-item" onclick="saveToClipboard(\'' + customer.custCode + '\')">'
                                + '<span class="fa fa-copy"></span>'
                                + '  Copy'
                                + '</div>'
                                + '</li>'
                                + '</ul>'
                        }
                    },
                    { "data": "custName" },
                    { "data": "shortName" },
                    { "data": "taxCode" },
                    { "data": "addr" },
                    { "data": "email1" },
                    { "data": "phone1" },
                    {
                        data: "active",
                        render: function (data, type, customer) {
                            if (customer.active == true) {
                                return `<span class="badge bg-success">Active<span>`
                            } else {
                                return `<span class="badge bg-secondary">Inactive<span>`
                            }
                        }
                    },
                    { "data": "note" },
                ]
            })
        })
    });
</script>
