<!-- Modal -->
<div class="modal" tabindex="-1" id="file-modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload customer list <i class="fa fa-cloud-upload"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Customer list</label>
                        <input class="form-control" type="file" accept=".xlsx" id="formFile" name="formFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="uploadFiles('formFile');">Save changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/bootbox/bootbox.all.min.js"></script>

<script src="~/assets/js/notify.js"></script>
<script>

    function uploadFiles(inputId) {
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        var valid = true;

        for (var i = 0; i != files.length; i++) {
            var fileExtension = ['xlsx'];
            if ($.inArray($('#' + inputId).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                $('#' + inputId).notify('Error: Only Excel (*.xlsx) file is allowed!');
                valid = false;
            }
            formData.append("files", files[i]);
        }
        if (files.length == 0) {
            valid = false;
        }

        if (valid) {
            var dialog = bootbox.dialog({
                title: 'Upload status',
                message: '<p><i class="fa fa-spin fa-spinner"></i> Loading...</p>',
                buttons: {
                    cancel: {
                        label: "",
                        className: 'btn-danger',
                        callback: function () {

                        }
                    },
                }
            });
            $.ajax(
                {
                    url: "/Customers/UploadList",
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function () {
                        $.notify("Uploading...", "warning");
                    },
                    type: "POST",
                    success: function (common) {
                        if (common.status == -1) {
                            dialog.init(function () {

                                dialog.find('.bootbox-body').html('<h5 class="text-danger">Header not found. Please check your file! </h5>');
                                dialog.find('.modal-footer').html('<a href="/Customers/" class="btn btn-secondary bootbox-cancel">Close</button>' + '<a href="/UploadReports/Details/' + common.dataenum.uploadId + '" class="btn btn-primary bootbox-cancel">View report</button>');


                            });
                        } else {
                            $.notify("Process completed", "success")
                            dialog.init(function () {

                                dialog.find('.bootbox-body').html('Finished importing file "<b>' + common.dataenum.fileName + '</b>". </br> - '
                                    + ' <span class="text-bold">Processed: ' + common.dataenum.totalRecord + '</br> - '
                                    + ' <span class="text-success"><b>Added: ' + common.dataenum.inserted + ' </b></span> </br> - '
                                    + ' <span class="text-warning"><b>Updated: ' + common.dataenum.updated + '</b></span> </br> -'
                                    + ' <span class="text-danger"><b>Errors: ' + common.dataenum.errors + ' </b></span> </br>');
                                dialog.find('.modal-footer').html('<a href="/Customers/" class="btn btn-secondary bootbox-cancel">Close</button>' + '<a href="/UploadReports/Details/'
                                    + common.dataenum.uploadId
                                    + '" class="btn btn-primary bootbox-cancel">View report</button>');

                            });
                            //bootbox.confirm({
                            //    title: "Import finished",
                            //    message: 'Finished importing file "<b>' + common.dataenum.fileName + '</b>". </br> - '
                            //        + ' <span class="text-bold">Processed: ' + common.dataenum.totalRecord + '</br> - '
                            //        + ' <span class="text-success"><b>Added: ' + common.dataenum.inserted + ' </b></span> </br> - '
                            //        + ' <span class="text-warning"><b>Updated: ' + common.dataenum.updated + '</b></span> </br> -'
                            //        + ' <span class="text-danger"><b>Errors: ' + common.dataenum.errors + ' </b></span> </br>',
                            //    buttons: {
                            //        confirm: {
                            //            label: 'View detail',
                            //            className: 'btn-outline-success'
                            //        },
                            //        cancel: {
                            //            label: 'Back to list',
                            //            className: 'btn-secondary'
                            //        }
                            //    },
                            //    callback: function (go) {
                            //        if (go) {
                            //            window.location.href = '/UploadReports/Details/' + common.dataenum.uploadId;
                            //        } else {
                            //            window.location.href = window.location.href;
                            //        }
                            //    }

                            //})

                        }
                    }

                }
            );



        } else {
            $('#' + inputId).val('');
            $('#' + inputId).notify("Please select a file!");
        }
    }
</script>