@model NMVS.Models.DbModels.RequestDet

@{
    ViewData["Title"] = "RequestDetCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <form asp-action="RequestDetCreate">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="ItemNo" class="control-label"></label>
                                <input asp-for="ItemNo" class="form-control" readonly />
                                <span asp-validation-for="ItemNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SpecDate" class="control-label"></label>
                                <input asp-for="SpecDate" class="form-control" readonly />
                                <span asp-validation-for="SpecDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label"></label>
                                <input asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="RequireDate" class="control-label"></label>
                                <input asp-for="RequireDate" class="form-control" />
                                <span asp-validation-for="RequireDate" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="RqID" class="control-label"></label>
                                <input asp-for="RqID" class="form-control" value="@ViewBag.RqId" readonly />
                                <span asp-validation-for="RqID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/assets/js/bootbox/bootbox.min.js"></script>
<partial name="ItemModal" />
<partial name="SpecDate" />
<script src="~/assets/datatable/datatables.min.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>


    function setItemNo(sup) {
        $('#ItemNo').val(sup);
        $('#item-modal').modal('toggle');
    };

    function setDate(dt) {
        $('#SpecDate').val(dt);
        $('#spec-modal').modal('toggle');
    };


    $(document).ready(function () {
        $('.nav-request').addClass('active');
        $('.nav-rq-his').addClass('active');
        $('#navRequest').addClass('show');
        $('#new-list').click(function () {
            $('#file-modal').modal('toggle');
        });
        $('#item-tb').DataTable();

        $('#ItemNo').click(function () {
            $('#item-modal').modal('toggle');
        });

        $('#SpecDate').click(function () {

            var pt = $('#ItemNo').val();
            var tb = $('#item-tb2 > tbody');
            $.ajax({
                url: "/InvRequests/GetItemMaster/?id=" + pt,
                method: "GET",
                success: function (res) {

                    if (res.status == 1) {
                        var i;
                        for (i = 0; i < res.dataenum.length; ++i) {
                            tb.append('<tr><td>' + res.dataenum[i].itemNo + '</td>' + '<td>' + res.dataenum[i].desc + '</td>' + '<td> <span class="btn btn-sm btn-outline-primary" onclick="setDate(\'' + res.dataenum[i].sDateIn + '\')">' + res.dataenum[i].sDateIn + '</span></td>' + '<td>' + res.dataenum[i].quantity + '</td></tr>')
                        }
                        $('#spec-modal').modal('toggle');
                    }
                    if (res.status == -1) {
                        bootbox.alert({
                            message: "No item found"
                        });
                    }
                }
            });

        });
    });
</script>