@model NMVS.Models.DbModels.RequestDet

@{
    ViewData["Title"] = "Update request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <form asp-action="UpdateDet">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="DetId" />
                            <div class="form-group">
                                <label asp-for="ItemNo" class="control-label"></label>
                                <input asp-for="ItemNo" class="form-control" readonly />
                                <span asp-validation-for="ItemNo" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Quantity" class="control-label"></label>
                                <input asp-for="Quantity" class="form-control" />
                                <span asp-validation-for="Quantity" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="RequireDate" class="control-label"></label>
                                <input asp-for="RequireDate" class="form-control" />
                                <span asp-validation-for="RequireDate" class="text-danger"></span>
                            </div>



                            <div class="form-group">
                                <label asp-for="RqID" class="control-label"></label>
                                <input asp-for="RqID" class="form-control" value="@ViewBag.RqId" readonly />
                                <span asp-validation-for="RqID" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Save" class="btn btn-outline-success" />
                                <span class="btn btn-danger" id="remove-btn">Remove</span>
                                <a href="/InvRequests/RequestDetail/@ViewBag.RqId" class="btn btn-secondary">Back to list</a>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script src="~/assets/js/sweetalert/sweetalert2.all.min.js"></script>
<partial name="ItemModal" />
<partial name="SpecDate" />
<script src="~/assets/datatable/datatables.min.js"></script>
<partial name="_ValidationScriptsPartial" />
<script>


    function setItemNo(sup) {
        $('#ItemNo').val(sup);
        $('#item-modal').modal('toggle');
    };

    function setDate(dt) {
        $('#SpecDate').val(dt);
        $('#spec-modal').modal('toggle');
    };


    $(document).ready(function () {
        //layout side nav
        $('.nav-request').addClass('active');
        $('.nav-rq-his').addClass('active');
        $('#navRequest').addClass('show');
       



        var routeURL = location.protocol + "//" + location.host;
        $('#ItemNo').click(function () {
            $('#item-modal').modal('toggle');
        });

        $('#remove-btn').click(function () {
            Swal.fire({
                title: 'Are you sure want to remove this line of request?',
                showDenyButton: true,
                confirmButtonText: 'Yes, remove!',
                confirmButtonColor: '#d33',
                denyButtonText: `No`,
                denyButtonColor: '#3085d6',
            }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    var rqd = {
                                id: @Html.Raw(Model.DetId)
                            };
                    $.ajax(
                        {
                            url: routeURL + "/api/InvRequest/RemoveRqLine",
                            data: JSON.stringify(rqd),
                            contentType: 'application/json',
                            type: "POST",
                            success: function (common) {

                                if (common.status == 1) {
                                    Swal.fire('Removed!', '', 'success');
                                    setTimeout(
                                        function () {

                                            window.location.href = "/InvRequests/RequestDetail/@ViewBag.RqId";
                                        }, 1000);
                                } else {
                                    Swal.fire('An error occurred...', '', 'danger');
                                }
                            }

                        }
                    );


                } else if (result.isDenied) {
                    Swal.fire('Changes are not saved', '', 'info')
                }
            })
        });
    });
</script>