<!-- Modal -->

<div class="modal" tabindex="-1" id="item-modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content" style="height: 100%">
            <div class="modal-header">
                <h5 class="modal-title">Items</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table " width="100%" id="item-tb">
                    <thead>
                        <tr>
                            <th>
                                Item no.
                            </th>
                            <th>
                                Item description
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function() {
        $.ajax({
            'url': apiUrl + "/api/itemdata/ItemDataBrowse",
            'method': "GET",
            'contentType': 'application/json'
        }).done(function (data) {
            $('#item-tb').dataTable({
                "aaData": data,
                "columns": [
                    {
                        data: "code",
                        render: function (data, type, res) {
                            return '<button type="button" class="btn btn-outline-primary" onclick="setItemNo(\'' + res.code + '\')">' + res.code + '</button>';
                        }
                    },
                    { "data": "desc" }

                ],

            });


        });
    })
</script>