<!-- Modal -->

<div class="modal" tabindex="-1" id="spec-modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content" style="height: 100%">
            <div class="modal-header">
                <h5 class="modal-title">Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table " id="item-tb2">
                    <thead>
                        <tr>
                            <th>
                                Item no.
                            </th>
                            <th>
                                Item description
                            </th>
                            <th>
                                Available
                            </th>
                            <th>
                                Date In
                            </th>
                        </tr>

                    </thead>

                    <tbody>
                        

                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


