@model IEnumerable<NMVS.Models.DbModels.IssueOrder>

@{
    ViewData["Title"] = "Issue orders";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewData["Title"]</h2>

<div class="card mt-3" id="ve-header">
    <div class="card-body" id="ve-header-body">
    </div>
</div>

<div class="card mt-3" id="data-mfg">
    <div class="card-body">
        <table class="table table-flush" id="datatable-search">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Item
                    </th>
                    <th>
                        Inventory Id
                    </th>

                    <th>
                        Status
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        To
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Request No.
                    </th>
                    <th>
                        Order by
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div class="card mt-3" id="detail-ve">
    <div class="card-body">
        <table class="table table-flush" width="100%" id="datatable-ve-detail">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        Item
                    </th>
                    <th>
                        Inventory Id
                    </th>

                    <th>
                        Status
                    </th>
                    <th>
                        From
                    </th>
                    <th>
                        Time
                    </th>
                    <th>
                        Request No.
                    </th>
                    <th>
                        Order by
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>
<div class="card col-8 mt-3" id="data-ve">
    <div class="card-body">
        <table class="table table-flush" width="100%" id="datatable-ve">
            <thead>
                <tr>
                    <th>
                        Vehicle
                    </th>
                    <th>
                        Processed
                    </th>
                    <th>
                        Check in date
                    </th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</div>


@*issue type selection*@
<div class="row col-12 d-flex justify-content-center">
    <div class="card col-4  select-type" onclick="getMfgData()">
        <!-- Card header -->
        <div class="card-header d-flex justify-content-center">
            <h3 class="mb-0">
                <i class="fas fa-pallet"></i>
                Manufacturing
            </h3>
        </div>
        <div class="card-body d-flex justify-content-center">
            <h2>@ViewBag.toMfg</h2>
        </div>

    </div>
    <div class="card col-4 ms-4  select-type" onclick="getVeData()">
        <!-- Card header -->
        <div class="card-header d-flex justify-content-center">
            <h3 class="mb-0">
                <span class="fa fa-truck"></span>
                Vehicle
            </h3>
        </div>
        <div class="card-body d-flex justify-content-center">
            <h2>@ViewBag.toVehicle</h2>
        </div>

    </div>
</div>
<script src="~/assets/js/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/js/notify.js"></script>
<script src="~/assets/datatable/datatables.min.js"></script>
<script src="~/assets/js/qr/html5-qrcode.min.js"></script>
<script>
    var routeURL = location.protocol + "//" + location.host;
    $('#data-mfg').hide();
    $('#data-ve').hide();
    $('#ve-header').hide();
    $('#detail-ve').hide();

    var tb;
    var veTb;
    var veDetTb;

    $(document).ready(function () {
        $('.nav-movement').addClass('active');

        $('.nav-movement > div > span').css('color', 'white');
        $('.nav-iu').addClass('active');
        $('#nav-movement').addClass('show');
        $('#new-sup').click(function () {
            $('#file-modal').modal('toggle');
        });

    });

    function reloadData() {
        tb.ajax.reload();
    }

</script>
<partial name="OrdersModal" />
<partial name="DataScriptPartial" />