<!-- Modal confirm -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title" id="exampleModalLabel">Confirm allocate order</h3>
                <hr />
                <table class="table table-striped" id="table2">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Item
                            </th>
                            <th>
                                From location
                            </th>
                            <th>
                                Inventory Id
                            </th>

                            <th>
                                To location
                            </th>
                            <th>
                                Issued
                            </th>
                            <th>
                                Movement by
                            </th>
                            <th>
                                Request Id
                            </th>
                            <th>
                                Ordered by
                            </th>
                            <th>
                                Movement time
                            </th>

                            <th>

                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="t2-tr">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group text-xl-center">
                    <label class="form-check-label text-primary ">
                        Movement Quantity <input type="number" class="form-control" value="0" id="moving-qty" step="0.01" />
                    </label>
                    <label class="form-check-label text-danger" id="confirm-lbl">

                    </label>
                    <label class="form-check-label ">
                        Or
                        <input type="button" class="form-control" value="Scan QR" id="scan-qr" />
                    </label>
                </div>

            </div>
            <div id="reader" width="80%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="confirm-end" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal report -->
<div class="modal fade modal-dialog-scrollable" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title" id="reportModalLabel">Report an issue</h3>
                <hr />
                <table class="table table-striped" id="table3">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Type
                            </th>
                            <th>
                                Item
                            </th>
                            <th>
                                From Location
                            </th>
                            <th>
                                Inventory Id
                            </th>

                            <th>
                                To
                            </th>
                            <th>
                                Issued
                            </th>
                            <th>
                                Comfirm by
                            </th>
                            <th>
                                Request ID
                            </th>
                            <th>
                                Order by
                            </th>
                            <th>
                                Movement time
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="t3-tr">
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="form-group col-10">
                    <div class="form-group form-check">
                        <label class="form-check-label text-danger">
                            <input type="checkbox" class="form-check-input" id="unqualified" /> Unqualified
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label text-danger">
                            <input type="number" class="form-control" id="input-qty" step="0.01" />
                        </label>
                    </div>
                    <label class="form-label text-danger" for="report-input">Add a note</label>
                    <textarea aria-multiline="true" cols="40" rows="5" class="form-control" id="report-input"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="send-report" type="button" class="btn btn-danger">Send report</button>
            </div>
        </div>
    </div>
</div>

<script>
    var winlocation = window.location.href;
    var routeURL = location.protocol + "//" + location.host;
    $('.modal-btn').click(function () {
        $('#table2 #t2-tr').html($(this).closest('tr').html());
        $('#table2 #t2-tr').children('td:last').remove();
        $('#exampleModal').modal('toggle');
        var issueType = $(this).closest('tr').find('.exp-type').html().trim();
        alert(issueType);
        if (issueType == "MFG") {
            $('#confirm-lbl').html('Location code <input type="text" placeholder="To location code" class="form-control" id="loc-code" />');
        } else {
            $('#confirm-lbl').html('Inventory code <input type="number" placeholder="Inventory ID" class="form-control" id="iv-id" /> ');
        }


        $('#reader').html('');
    });

    $('.report-btn').click(function () {
        $('#table3 #t3-tr').html($(this).closest('tr').html());
        $('#table3 #t3-tr').children('td:last').remove();
        $('#reportModal').modal('toggle');
    });

    $(document).ready(function () {



        $('#scan-qr').click(function () {

            var desCode = $('#table2').find('.exp-to-ve').text().trim();
            if (desCode == '0') {
                desCode = $('#table2').find('.exp-to-loc').text().trim();
            } else {
                //exp-pt-id
                var desCode = $('#table2').find('.exp-pt-id').text().trim();

            }


            var qty = parseFloat($('#moving-qty').val());
            var remainQty = parseFloat($('#table2 #t2-tr').find('.exp-qty').text().trim()) - parseFloat($('#table2 #t2-tr').find('.exp-moved').text().trim());


            if (qty > remainQty) {
                $('#moving-qty').notify('Report quantity couldn\'t be larger than order quantity');
            }
            else if (qty <= 0) {
                $('#moving-qty').notify('Report quantity couldn\'t be less than or equal to 0');
            } else {



                var html5QrcodeScanner = new Html5QrcodeScanner(
                    "reader", { fps: 60, qrbox: 500 });

                function onScanSuccess(decodedText, decodedResult) {
                    // Handle on success condition with the decoded text or result.
                    console.log(`Scan result: ${decodedText}`, decodedResult);
                    var desInput = decodedText;
                    html5QrcodeScanner.clear();
                    if (desInput !== desCode) {
                        bootbox.alert('Incorrect destination! Please check your destination again! ' + desInput + ' - ' + desCode);
                    }
                    else {
                        var oId = parseInt($('#table2').find('.exp-id').text().trim());
                        var alo = {
                            AlcOrdId: oId,
                            AlcOrdQty: qty
                        };

                        var mess = ""

                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: routeURL + '/api/InvRequest/FinishIssueOrder',
                            data: JSON.stringify(alo),
                            success: function (common) {
                                bootbox.alert({
                                    message: '<h6> <span class="fa fa-check 3x" style="color: green"> </span> ' + common.message + ' </h6>',
                                    callback: function () {
                                        window.location.href = window.location.href;
                                    }
                                });
                            },
                            failure: function (response) {
                                alert(response);
                            },
                            complete: function () {
                                $('#confirm-end').html('Save changes');
                            }

                        });

                        $('#exampleModal').modal('toggle');
                        //setTimeout(function () {
                        //    window.location.reload();
                        //}, 1000);
                    }
                }
                html5QrcodeScanner.render(onScanSuccess);

            }
        });

        $('#confirm-end').click(function () {

            var desCode = $('#table2').find('.exp-to-ve').text().trim();
            var desInput;
            if (desCode == '0') {
                desCode = $('#table2').find('.exp-to-loc').text().trim();
                desInput = $('#loc-code').val().trim();

            } else {
                //exp-pt-id
                var desCode = $('#table2').find('.exp-pt-id').text().trim();
                desInput = $('#iv-id').val();
            }


            var qty = parseFloat($('#moving-qty').val());
            var remainQty = parseFloat($('#table2 #t2-tr').find('.exp-qty').text().trim()) - parseFloat($('#table2 #t2-tr').find('.exp-moved').text().trim());
            

            if (qty > remainQty) {
                $('#moving-qty').notify('Report quantity couldn\'t be larger than order quantity');
            }
            else if (qty <= 0 || isNaN(qty)) {
                $('#moving-qty').notify('Report quantity couldn\'t be less than or equal to 0');
            }            
            else {

                if (desInput !== desCode) {
                    $('#confirm-lbl input').notify('Incorrect destination! Please check your destination again! ' + desInput + ' - ' + desCode);
                }
                else {
                    var oId = parseInt($('#table2').find('.exp-id').text().trim());
                    var alo = {
                        AlcOrdId: oId,
                        AlcOrdQty: qty
                    };

                    var mess = ""

                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: routeURL + '/api/InvRequest/FinishIssueOrder',
                        data: JSON.stringify(alo),
                        success: function (common) {
                            bootbox.alert({
                                message: '<h5> <span class="fa fa-check 3x" style="color: green"> </span> ' + common.message + ' </h5>',
                                callback: function () {
                                    window.location.reload();
                                }
                            });
                        },
                        failure: function (response) {
                            alert(response);
                        }

                    });

                   
                    //setTimeout(function () {
                    //    window.location.reload();
                    //}, 1000);
                }
            }
        });


        $('#send-report').click(function () {
            var cmmt = $("#report-input");
            var oId = parseInt($('#table3').find('.exp-id').text().trim());
            var unq = $('#unqualified').is(":checked");
            var oQty = parseFloat($('#table3 #t3-tr').find('.exp-qty').text().trim());
            var qty = $('#input-qty').val();
            var note = cmmt.val().trim();


            if (qty > oQty) {
                $('#input-qty').notify('Report quantity couldn\'t be larger than order quantity');
            }
            else if (qty <= 0) {
                $('#input-qty').notify('Report quantity couldn\'t be less than or equal to 0');
            }
            else if (note == "") {
                cmmt.notify('Please describe the reason.');
            }
            else {
                var postData = {
                    Retrn: unq,
                    Qty: qty,
                    Note: note,
                    OrId: oId
                };

                bootbox.confirm({
                    message: '<h5 >Is all information correct?</h5>',
                    closeButton: false,
                    buttons: {
                        confirm: {
                            label: 'Yes',
                            className: 'btn-success'
                        },
                        cancel: {
                            label: 'No',
                            className: 'btn-danger'
                        }
                    },
                    callback: function (cf) {
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: routeURL + '/api/InvRequest/ReportOrder',
                            data: JSON.stringify(postData),
                            success: function (data) {
                                if (data.status == 1) {
                                    $.notify(data.message, 'success');
                                }

                                if (data.status == 0) {
                                    $.notify(data.message, 'warning');
                                }

                                if (data.status == -1) {
                                    $.notify(data.message, 'error');
                                }


                            },
                            failure: function (response) {
                                bootbox.alert(response);
                            },
                            complete: function () {
                                $('#reportModal').modal('toggle');
                                window.location.href = window.location.href;
                            }

                        });
                    }

                });


            }



        });
    });
</script>
