<!-- Modal confirm -->
<div class="modal fade modal-dialog-scrollable" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title" id="exampleModalLabel">Confirm allocate order</h3>
                <hr />
                <table class="table table-striped" id="table2">
                    <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Inventory Id
                            </th>

                            <th>
                                Status
                            </th>
                            <th>
                                From
                            </th>
                            <th id="th-to">
                                To
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Request No.
                            </th>
                            <th>
                                Order by
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="t2-tr">
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="form-group text-xl-center">
                    <label class="form-check-label text-primary ">
                        Movement Quantity <input type="number" class="form-control" value="0" id="moving-qty"
                            step="0.01" />
                    </label>
                    <label class="form-check-label text-danger" id="confirm-lbl">

                    </label>
                    <label class="form-check-label ">
                        Or
                        <input type="button" class="form-control" value="Scan QR" id="scan-qr" />
                    </label>
                </div>

            </div>
            <div id="reader" width="80%">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="confirm-end" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal report -->
<div class="modal fade modal-dialog-scrollable" id="reportModal" tabindex="-1" aria-labelledby="reportModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-body">
                <h3 class="modal-title" id="reportModalLabel">Report an issue</h3>
                <hr />
                <table class="table table-striped" id="table3">
                    <thead>
                        <tr>
                            <th>
                                Item
                            </th>
                            <th>
                                Inventory Id
                            </th>

                            <th>
                                Status
                            </th>
                            <th>
                                From
                            </th>
                            <th id="th-to-rp">
                                To
                            </th>
                            <th>
                                Time
                            </th>
                            <th>
                                Request No.
                            </th>
                            <th>
                                Order by
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr id="t3-tr">
                        </tr>
                    </tbody>
                </table>
                <hr />
                <div class="form-group col-10">
                    <div class="form-group form-check">
                        <label class="form-check-label text-danger">
                            <input type="checkbox" class="form-check-input" id="unqualified" /> Unqualified
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="form-check-label text-danger">
                            <input type="number" class="form-control" id="input-qty" step="0.01" />
                        </label>
                    </div>
                    <label class="form-label text-danger" for="report-input">Add a note</label>
                    <textarea aria-multiline="true" cols="40" rows="5" class="form-control"
                        id="report-input"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button id="send-report" type="button" class="btn btn-danger">Send report</button>
            </div>
        </div>
    </div>
</div>

<script>
    var winlocation = window.location.href;
    var routeURL = location.protocol + "//" + location.host;
    function toggleSubmit(issueType, e, item) {

        $('#table2 #t2-tr').html($(e).closest('tr').html());
        $('#table2 #t2-tr').find('.btn-group').remove();
        $('#table2 #t2-tr').children('td:first').append(item);
        if ($('#detail-ve').is(":visible"))
            $('th#th-to').remove();
        $('#exampleModal').modal('toggle');
        if (issueType == "MFG") {
            $('#confirm-lbl').html('Location code <input type="text" placeholder="To location code" class="form-control" id="loc-code" />');
        } else {
            $('#confirm-lbl').html('Inventory code <input type="number" placeholder="Inventory ID" class="form-control" id="iv-id" /> ');
        }


        $('#reader').html('');

    }
    function toggleReport(e, item) {
        $('#table3 #t3-tr').html($(e).closest('tr').html());
        $('#table3 #t3-tr').find('.btn-group').remove();
        $('#table3 #t3-tr').children('td:first').append(item);
        $('th#th-to-rp').remove();
        $('#reportModal').modal('toggle');



    };

    $(document).ready(function () {



        $('#scan-qr').click(function () {

            var desCode = $('#table2').find('.exp-to-ve').text().trim();
            if (desCode == '0') {
                desCode = $('#table2').find('.exp-to-loc').text().trim();
            } else {
                //exp-pt-id
                var desCode = $('#table2').find('.exp-pt-id').text().trim();

            }


            var qty = parseFloat($('#moving-qty').val());
            var remainQty = parseFloat($('#table2 #t2-tr').find('.exp-qty').text().trim())
                - parseFloat($('#table2 #t2-tr').find('.exp-moved').text().trim())
                - parseFloat($('#table2 #t2-tr').find('.exp-reported').text().trim());


            if (qty > remainQty) {
                $('#moving-qty').notify('Report quantity couldn\'t be larger than order quantity');
            }
            else if (qty <= 0) {
                $('#moving-qty').notify('Report quantity couldn\'t be less than or equal to 0');
            } else {



                var html5QrcodeScanner = new Html5QrcodeScanner(
                    "reader", { fps: 60, qrbox: 500 });

                function onScanSuccess(decodedText, decodedResult) {
                    // Handle on success condition with the decoded text or result.
                    console.log(`Scan result: ${decodedText}`, decodedResult);
                    var desInput = decodedText;
                    html5QrcodeScanner.clear();
                    if (desInput !== desCode) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Error..',
                            text: 'Incorrect destination! Please check your destination again!! ' + desInput + ' - ' + desCode
                        })
                    }
                    else {
                        var oId = parseInt($('#table2').find('.exp-id').text().trim());
                        var alo = {
                            AlcOrdId: oId,
                            AlcOrdQty: qty
                        };

                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: routeURL + '/api/InvRequest/FinishIssueOrder',
                            data: JSON.stringify(alo),
                            success: function (common) {

                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Your work has been saved',
                                    message: common.message,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                                if ($('#detail-ve').is(":visible"))
                                    veTb.ajax.reload();
                                else
                                    reloadData();

                            },
                            failure: function (response) {
                                alert(response);
                            },
                            complete: function () {
                                $('#confirm-end').html('Save changes');
                            }

                        });

                        $('#exampleModal').modal('toggle');
                        //setTimeout(function () {
                        //    window.location.reload();
                        //}, 1000);
                    }
                }
                html5QrcodeScanner.render(onScanSuccess);

            }
        });

        $('#confirm-end').click(function () {

            var desCode = $('#table2').find('.exp-to-ve').text().trim();
            var desInput;
            if (desCode == '0') {
                desCode = $('#table2').find('.exp-to-loc').text().trim();
                desInput = $('#loc-code').val().trim();

            } else {
                //exp-pt-id
                var desCode = $('#table2').find('.exp-pt-id').text().trim();
                desInput = $('#iv-id').val();
            }


            var qty = parseFloat($('#moving-qty').val());
            var remainQty = parseFloat($('#table2 #t2-tr').find('.exp-qty').text().trim())
                - parseFloat($('#table2 #t2-tr').find('.exp-moved').text().trim())
                - parseFloat($('#table2 #t2-tr').find('.exp-reported').text().trim());


            
             if (qty > remainQty) {
                $('#moving-qty').notify('Report quantity couldn\'t be larger than order quantity');
            }
            else if (qty <= 0 || isNaN(qty)) {
                $('#moving-qty').notify('Report quantity couldn\'t be less than or equal to 0');
            }
            else {

                if (desInput !== desCode) {
                    $('#confirm-lbl input').notify('Verification failed! Please check your input data! ' + desInput + ' - ' + desCode);
                }
                else {
                    var oId = parseInt($('#table2').find('.exp-id').text().trim());
                    var alo = {
                        AlcOrdId: oId,
                        AlcOrdQty: qty
                    };


                    $.ajax({
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        type: 'POST',
                        url: routeURL + '/api/InvRequest/FinishIssueOrder',
                        data: JSON.stringify(alo),
                        success: function (common) {

                            if (common.status == 1) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'success',
                                    title: 'Your work has been saved',
                                    showConfirmButton: false,
                                    timer: 1000
                                });

                                $('#exampleModal').modal('toggle');
                                setTimeout(function () {
                                    if (desCode == '0')
                                        reloadData();
                                    else
                                        veTb.ajax.reload();
                                }, 1000);
                            } else {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: 'An error occurred',
                                    message: common.message,
                                    showConfirmButton: true
                                });
                            }

                        },
                        failure: function (response) {
                            alert(response);
                        }

                    });


                    //setTimeout(function () {
                    //    window.location.reload();
                    //}, 1000);
                }
            }
        });


        $('#send-report').click(function () {
            var cmmt = $("#report-input");
            var oId = parseInt($('#table3').find('.exp-id').text().trim());
            var unq = $('#unqualified').is(":checked");
            var oQty = parseFloat($('#table3 #t3-tr').find('.exp-qty').text().trim());
            var moved = parseFloat($('#table3 #t3-tr').find('.exp-moved').text().trim());
            var reported = parseFloat($('#table3 #t3-tr').find('.exp-reported').text().trim());
            var qty = $('#input-qty').val();
            var note = cmmt.val().trim();
            var remain = oQty - moved - reported;
            if (qty > remain) {
                $('#input-qty').notify('Report quantity couldn\'t be larger than order quantity');
            }
            else if (qty <= 0) {
                $('#input-qty').notify('Report quantity couldn\'t be less than or equal to 0');
            }
            else if (note == "") {
                cmmt.notify('Please describe the reason.');
            }
            else {
                var postData = {
                    Retrn: unq,
                    Qty: qty,
                    Note: note,
                    OrId: oId
                };
                Swal.fire({
                    title: 'Is all information correct?',
                    showDenyButton: true,
                    showCancelButton: true,
                    confirmButtonText: 'Yes',
                    denyButtonText: `No`,
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            contentType: 'application/json; charset=utf-8',
                            dataType: 'json',
                            type: 'POST',
                            url: routeURL + '/api/InvRequest/ReportOrder',
                            data: JSON.stringify(postData),
                            success: function (data) {
                                if (data.status == 1) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: data.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                    setTimeout(function () {
                                        if ($('#detail-ve').is(":visible"))
                                            veTb.ajax.reload();
                                        else
                                            reloadData();
                                    }, 1000);
                                }

                                if (data.status == 0) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'warning',
                                        title: data.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                }

                                if (data.status == -1) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'error',
                                        title: data.message,
                                        showConfirmButton: false,
                                        timer: 2000
                                    });
                                }


                            },
                            failure: function (response) {
                                Swal.fire({
                                    position: 'center',
                                    icon: 'error',
                                    title: response,
                                    showConfirmButton: false,
                                    timer: 2000
                                });
                            },
                            complete: function () {
                                $('#reportModal').modal('toggle');
                            }

                        });
                    }

                });


            }



        });
    });
</script>
