<!-- Modal -->
<div class="modal" tabindex="-1" id="file-modal">
    <div class="modal-dialog modal-xl modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload item data<i class="fa fa-cloud-upload"></i></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" name="form" action="/uploader" enctype="multipart/form-data" method="post">
                    <div class="mb-3">
                        <label for="formFile" class="form-label">Item data list</label>
                        <input class="form-control" type="file" accept=".xlsx" id="formFile" name="formFile">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="push-file" class="btn btn-primary" onclick="uploadFiles('formFile');">Save
                    changes</button>

            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/js/notify.js"></script>
<script>

    function uploadFiles(inputId) {
        $('#pushfile').prop('disabled', true);
        var input = document.getElementById(inputId);
        var files = input.files;
        var formData = new FormData();
        var valid = true;

        for (var i = 0; i != files.length; i++) {
            var fileExtension = ['xlsx'];
            if ($.inArray($('#' + inputId).val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                $('#' + inputId).notify('Error: Only Excel (*.xlsx) file is allowed!');
                valid = false;
            }
            formData.append("files", files[i]);
        }

        if (files.length == 0) {
            valid = false;
        }

        if (valid) {
            Swal.fire({
                title: 'Please Wait !',// add html attribute if you want or remove
                allowOutsideClick: false,
                showConfirmButton: false
            })
            $.ajax({
                url: "/ItemDatas/UploadList",
                data: formData,
                processData: false,
                contentType: false,
                type: "POST",
                success: function (common) {
                    if (common.status == -1) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Oops...',
                            text: 'Header error. Please check your file!',
                            footer: '<a href="/UploadReports/Details/'
                                + common.dataenum.uploadId
                                + '" class="">View report</a>'
                        });
                    } else {
                        $.notify("Process completed", "success")
                        Swal.fire({
                            icon: 'success',
                            title: 'Process completed',
                            text: 'Finished importing file "' + common.dataenum.fileName + '"',
                            footer: ' <span class="text-bold">Processed: ' + common.dataenum.totalRecord + '</br>'
                                + ' <span class="text-success"><b>Added: ' + common.dataenum.inserted + ' </b></span> </br>'
                                + ' <span class="text-warning"><b>Updated: ' + common.dataenum.updated + '</b></span> </br>'
                                + ' <span class="text-danger"><b>Errors: ' + common.dataenum.errors + ' </b></span> </br>'
                                + '<a href="/UploadReports/Details/'
                                + common.dataenum.uploadId
                                + '" class="btn btn-outline-primary btn-sm">View report</a>',
                            allowOutsideClick: false
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.reload();
                            }
                        })
                    }


                    $('#' + inputId).val('');
                }

            });
        } else {
            $('#' + inputId).val('');
            $('#' + inputId).notify("Please select a file!");
        }
    }
</script>