@model IEnumerable<NMVS.Models.DbModels.ProdLine>

@{
    ViewData["Title"] = "Prod line browse";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="table-responsive">
                <table class="table table-flush" id="datatable-search">
                    <thead>
                        <tr>
                            <th>
                                Id
                            </th>
                            <th>
                                Site
                            </th>
                            <th>
                                Active
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.PrLnId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SiCode)
                                </td>
                                <td>
                                    @if (item.Active)
                                    {
                                        <span class="badge bg-success">Active</span>
                                    }
                                    else
                                    {
                                        <span class="badge bg-secondary">Inactive</span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="EditProdLine" asp-route-id="@item.PrLnId">Edit</a> 
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">

                <div class="row col-12">
                    <span class="col-auto">
                        <a asp-action="ProdLineCreate" class="btn btn-sm btn-outline-info">
                            <span class="fa fa-plus-circle"></span>
                            Add new
                        </a>
                    </span>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/assets/datatable/datatables.min.js"></script>
<script>

    $(document).ready(function () {
        $('.side-prdln').addClass('active');
        $('#datatable-search').DataTable();
    });
</script>
