
@model NMVS.Models.DbModels.ItemMaster

@{
    ViewData["Title"] = "New allocate request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-10">
                        <form asp-action="SelectLoc">


                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                <label asp-for="LocCode" class="control-label">Target Loc.</label>
                                <div class="row">
                                    <div class="col-md-3">
                                        <input asp-for="LocCode" class="form-control " onclick="showLoc()" readonly required />
                                    </div>
                                    <div class="col-auto">
                                        <p class="text-success text-bold" id="loc-name"></p>
                                    </div>
                                </div>
                                <span asp-validation-for="LocCode" class="text-danger"></span>

                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-outline-primary" />

                                <a asp-action="AllocateRequests" class="btn btn-secondary">Back to List</a>
                            </div>

                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<partial name="ItemModal" />
<script src="~/assets/datatable/datatables.min.js"></script>
<script>

    function showLoc() {
        $('#loc-modal').modal('toggle');
    };

    function setLoc(code, name) {
        $('#LocCode').val(code);
        $('#loc-name').text(name);
        $('#loc-modal').modal('toggle');
    };

    $(document).ready(function () {
        $('#supplier-tb').DataTable();
        $('.nav-allocate').addClass('active');
        $('.nav-add-alc').addClass('active');


    });



