@model NMVS.Models.ViewModels.ItemInquiryVm
@{
    ViewData["Title"] = "Item master inquiry";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row mt-4">
    <div class="col-12">
        <div class="card">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">@ViewData["Title"]</h3>
            </div>
            <div class="card-body">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="ItemNo" class="control-label">ItemNo.</label>
                        <input id="ItemNo" class="form-control" />
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" id="Available" type="checkbox" /> Show only available
                        </label>
                    </div>
                    <button type="button" class="btn btn-outline-primary" onclick="fetchTable()" id="search-btn">
                        <span class="fa fa-search"></span>
                        Search
                    </button>

                </div>
                <div class="col-12">
                    <hr />
                    <h3>Result:</h3>
                    <table class="table table-striped" id="result-table">
                        <thead>
                            <tr>
                                <th>
                                    Inventory Id
                                </th>

                                <th>
                                    Item No
                                </th>
                                <th>
                                    Item Name
                                </th>
                                <th>
                                    Batch/Ref
                                </th>
                                <th>
                                    Location
                                </th>
                                <th>
                                    Quantity
                                </th>
                                <th>
                                    Booked
                                </th>
                                <th>
                                    Supplier
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<partial name="ItemModal" />
<script src="~/assets/js/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/datatable/datatables.min.js"></script>
<script>
    function setItemNo(sup) {
        $('#ItemNo').val(sup);
        $('#item-modal').modal('toggle');
    };

    var dtTb;
    var init = true;



    function fetchTable() {

        Swal.showLoading();
        var avail = 0;
        var ptPart = $('#ItemNo').val().trim();
        if (ptPart.length == 0) {
            ptPart = "na";
        }

        if ($('#Available').is(":checked")) {
            avail = 1;
        } else {
            avail = 0;
        }

        if (init) {
            dtTb = $('#result-table').DataTable({
                ajax: {
                    'url': apiUrl + "/api/Allocate/GetInventory/" + ptPart + "/" + avail,
                    dataSrc: ''

                },
                "columns": [
                    {
                        "data": "ptid",
                        render: function (data, type, res) {
                            return '<a href="/Inquiry/InventoryDetail/' + res.ptid + '">' + res.ptid + ' </a>'
                        }
                    },
                    { "data": "no" },
                    { "data": "name" },
                    { "data": "lot" },
                    { "data": "loc" },
                    { "data": "qty" },
                    { "data": "booked" },
                    { "data": "sup" }

                ]
            });

            init = false;
        } else {
            dtTb.ajax.url(apiUrl + "/api/Allocate/GetInventory/" + ptPart + "/" + avail).load();
        }
        Swal.fire({
            position: 'center',
            icon: 'success',
            title: 'Query completed',
            showConfirmButton: false,
            timer: 1500
        });
    }

    $(document).ready(function () {
        $('.nav-inquiry').addClass('active');
        $('.nav-item-inquiry').addClass('active');
        $('#navInquiry').addClass('show');
        $('#item-tb').DataTable();

        $('#ItemNo').click(function () {
            $('#item-modal').modal('toggle');
        });
    });
</script>