<script src="~/assets/js/sweetalert/sweetalert2.all.min.js"></script>
<script src="~/assets/js/bootbox/bootbox.min.js"></script>
<script src="~/assets/js/notify.js"></script>
<script src="~/assets/datatable/datatables.min.js"></script>
<script>
    function checkItem(ptId, qty) {

        bootbox.confirm({
            message: '<b>Please confirm the quality of selected item</b>',
            closeButton: false,
            buttons: {
                cancel: {
                    label: '<i class="fa fa-times"></i> Failed',
                    className: 'btn-danger'
                },
                confirm: {
                    label: '<i class="fa fa-check"></i> Passed',
                    className: 'btn-success'
                }
            },
            callback: function (result) {
                var pt = {
                    Id: ptId,
                    Desc: '',
                    Code: ''
                };

                if (result) {

                    pt.Code = 'ok';
                    $.ajax(
                        {
                            url: apiUrl + "/api/IncomingList/QcItem",
                            data: JSON.stringify(pt),
                            contentType: 'application/json',
                            type: "POST",
                            success: function (common) {

                                if (common.status == 1) {
                                    Swal.fire({
                                        position: 'center',
                                        icon: 'success',
                                        title: 'Your work has been saved',
                                        showConfirmButton: false,
                                        timer: 1500
                                    });

                                    $('#td-' + ptId).html('<span class="badge bg-success">PASSED</span>');
                                    
                                    $('#user-' + ptId).html(common.dataenum);
                                } else {
                                    $.notify(common.message, { position: "right middle" });
                                }
                            }

                        }
                    );

                } else {
                    bootbox.prompt({
                        title: "Please leave some reasons for this items",
                        inputType: 'textarea',
                        required: true,
                        centerVertical: true,
                        callback: function (res) {
                            if (res != null) {
                                pt.Code = 'ng';
                                pt.Desc = res;
                                $.ajax(
                                    {
                                        url: apiUrl + "/api/IncomingList/QcItem",
                                        data: JSON.stringify(pt),
                                        contentType: 'application/json',
                                        type: "POST",
                                        success: function (common) {

                                            if (common.status == 1) {
                                                Swal.fire({
                                                    position: 'center',
                                                    icon: 'success',
                                                    title: 'Your work has been saved',
                                                    showConfirmButton: false,
                                                    timer: 1500
                                                });

                                                $('#td-' + ptId).html('<span class="badge bg-danger">FAILED</span>');
                                                $('#note-' + ptId).html('<span class="text-danger">'+res+'</span>');
                                                $('#user-' + ptId).html(common.dataenum);
                                            } else {
                                                $.notify(common.message, { position: "right middle" });
                                            }
                                        }

                                    }
                                );
                            }
                        }
                    });


                }




            }
        });




    };
    $(document).ready(function () {
        $('.nav-qc').addClass('active');

        $('#datatable-search').DataTable();

        function checkItem(e) {
            var icId = e;
            var pt = {
                IcId: icId
            };
            bootbox.confirm({
                message: '<h5 class="text-danger"><b>Is all information correct?</b></h5>',
                closeButton: false,
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax(
                            {
                                url: apiUrl + "/api/IncomingList/CloseList",
                                data: JSON.stringify(pt),
                                contentType: 'application/json',
                                type: "POST",
                                success: function (common) {

                                    if (common.status == 1) {
                                        $.notify("Process completed", "success");
                                        setTimeout(
                                            function () {

                                                window.location.href = window.location.href;
                                            }, 1000);
                                    } else {
                                        $.notify(common.message);
                                    }
                                }

                            }
                        );
                    }
                }
            });


        };

        $('#submit-item').click(function () {
            var itemCode = $('#item-code').val();
            var qty = parseFloat($('#item-qty').val());
            var itemRef = $('#item-ref').val();
            var refDate = $('#item-ref-date').val();
            var itemNote = $('#item-note').val();
            var icId = parseInt(@Html.Raw(Model.Icm.IcId));
            var pt = {
                ItemNo: itemCode,
                RecQty: qty,
                RefNo: itemRef,
                RefDate: refDate,
                IcId: icId,
                PtCmt: itemNote

            }
            $.ajax(
                {
                    url: apiUrl + "/api/IncomingList/AddItem",
                    data: JSON.stringify(pt),
                    contentType: 'application/json',
                    type: "POST",
                    success: function (common) {

                        if (common.status == 1) {
                            $.notify("Process completed", "success");
                            setTimeout(
                                function () {

                                    window.location.href = window.location.href;
                                }, 1000);
                        } else {
                            $.notify(common.message);
                        }
                    }

                }
            );

        });
    });
</script>